#home-background-img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0%;
    filter: blur(2px) brightness(60%);
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
    border: 0px;
}

#home-sun-img {
    z-index: 3;
    height: 60%;
    border: 0px;
    left: 0%;
}

#home-div {
    overflow: hidden;
    height: calc(100vh - 60px);
    top: 60px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#home-uruguay-title{
    z-index: 3;
    position: absolute;
    top: 75%;
    font-weight: 100;
    font-size: 50px;
}